<!DOCTYPE html>

<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title> SMS SPAM DETECTOR</title>
        <!--
        <link rel="shortcut icon" href="{{ url_for('static', filename='spam-favicon.ico') }}">
        -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
        <script src="https://kit.fontawesome.com/5f3f547070.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    </head>

    <body>

        <!-- Website Title -->
    	<div class="container">
    		<h2 class='container-heading'><span>SPAM DETECTOR</h2>
            <div class='description'>
    			<p>Please type in the text box to check whether the message is a Spam or Not</p>
    		</div>
    	</div>

        <!-- Text Area -->
    	<div class="ml-container">
    		<form action="{{ url_for('predict') }}" method="POST">
        		<textarea class='message-box' name="message" rows="15" cols="75" placeholder="Enter Your Message Here... eg. Let's catch up tonight, You have a meeting scheduled for tomorrow, To join our premium memebership please enter code ALLYSON30 etc. "></textarea><br/>
        		<input type="submit" class="my-cta-button" value="Predict">
        	</form>
    	</div>

        <!--
       <div class='footer'>
           <div class="contact">
               <a target="_blank" href="https://github.com/divyansh1195"><i class="fab fa-github fa-lg contact-icon"></i></a>
               <a target="_blank" href="linkedin.com/in/divyansh-mathur-229190155/"><i class="fab fa-linkedin fa-lg contact-icon"></i></a>
           </div>
           <p class='footer-description'>© Divyansh Mathur 2020</p>
       </div>
       -->

    </body>
</html>
